body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

.layout {
  min-height: 100vh;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
